.error-imagen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px; /* Añade un poco de relleno para dispositivos pequeños */
}

h1 {
  font-size: 3em;
  font-family: Arial, sans-serif;
}

.h2 {
  font-size: 50px;
  font-family: Arial, sans-serif;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  text-align: center;

  h1 {
    font-size: 2.5em;
    color: var(--ion-color-danger);
    margin-bottom: 20px;
  }

  img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 20px 0;
  }
}

/* Media queries para diferentes tamaños de pantalla */
@media (max-width: 768px) {
  h1 {
    font-size: 2em; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
  }

  .h2 {
    font-size: 40px; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
  }

  .error-container h1 {
    font-size: 2em; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5em; /* Ajusta el tamaño de la fuente para pantallas muy pequeñas */
  }

  .h2 {
    font-size: 30px; /* Ajusta el tamaño de la fuente para pantallas muy pequeñas */
  }

  .error-container h1 {
    font-size: 1.5em; /* Ajusta el tamaño de la fuente para pantallas muy pequeñas */
  }
}