.error-imagen{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1{
    font-size: 3em;
    font-family: Arial, sans-serif;
}

.h2{
    font-size: 50px;
    font-family: Arial, sans-serif;
}