<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Error 404</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="error-container">
    <h1>ERROR 404</h1>
    <img src="assets/gif/ynov.gif" alt="error">
    <h2>Surgió un problema en la carga de la página</h2>
    <ion-button expand="block" routerLink="/home">
      Volver al inicio
    </ion-button>
  </div>
</ion-content>
