<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>skainer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment [(ngModel)]="segment" >
    <ion-segment-button value="sak">
      <ion-label>Scanear Qr</ion-label>
    </ion-segment-button>
    <ion-segment-button value="gen">
      <ion-label>Generara Qr</ion-label>
    </ion-segment-button>


    <div></div>

  </ion-segment>
<!--Mati haz que se vea bonito-->

  <div *ngIf="segment === 'ska'">
    segmento del {{segment}}
  </div>

<!--generacio-->
  <div class="segment" *ngIf="segment === 'gen'">
    <div class="segment-content">

      <div id="qrImg">
        <div class="d-flex-center">
          <div class="d-flex-center qr-wrapper">
            <qr-code *ngIf="qrText" [value]="qrText" size="190" errorCorrectionLevel="M" />
            <!--<img *ngIf="!qrText" src="" alt=""> porte la imagen de migelito en el src-->
          </div>

        </div>
          <div>{{qrText}}</div>
      </div>

      <ion-textarea
      label="escquive lo que quieras trasnformar a Qr"
      labelPlacement="stacked"
      fill="outline"
      [(ngModel)]="qrText"
      [autoGrow]="true"
      ></ion-textarea>

    </div>
    segmento del {{segment}}
  </div>



</ion-content>
