<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login de Usuarios</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button class="boton_inicio" routerLink="/home">Volver</ion-button>

  <div class="center-content">
    <ion-card class="logeo-card">
      <ion-card-header>
        <ion-card-title>Iniciar Sesión</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form> 
          <div>
            <ion-item>
              <ion-label position="floating">Ingrese su Nombre:</ion-label>
              <ion-input 
                [(ngModel)]="newUsuario.nombre" 
                name="nombre" 
                placeholder="Ingrese su nombre"
                required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Ingrese su Contraseña:</ion-label>
              <ion-input 
                [(ngModel)]="newUsuario.password" 
                name="password" 
                type="password" 
                placeholder="Ingrese su contraseña"
                required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-button expand="block" (click)="validarLogin()" class="ion-margin-top">
                Iniciar Sesión
              </ion-button>
            </ion-item>
            <a routerLink="/recu">
              <h1>¿Olvidaste tu contraseña?</h1>
            </a>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
