<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>crud-lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let usuario of usuarios">
      <ion-label>
        <h2>{{ usuario.nombre }} {{ usuario.apellidos }}</h2>
        <p>{{ usuario.email }}</p>
      </ion-label>
      <ion-button (click)="modificarUsuario(usuario.email)" color="primary">Modificar</ion-button>
      <ion-button (click)="eliminarUsuario(usuario.email)" color="danger">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
