ion-content {
    --background: #003566;
}

ion-toolbar {
    --background: #000F26;
}

ion-button {
  --background: #FFC300;
}

.avatar-centro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
}

.perfil {
  width: 150px; 
  height: 150px; 
  border-radius: 50%; 
  object-fit: cover; 
}

ion-card {
  --background: #001D3D;
  color: #fff; 
}

.custom-label {
  color: #fff;
  margin-bottom: 10px;
}

.dato-rellenar {
  color: #fff; 
}

ion-input::part(native) {
  color: #fff; 
}

ion-item {
  --background: #001D3D; 
}
