<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Scainner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--<ion-card>
    <ion-card-header>
      <ion-card-title>Bienbeindo{{ nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card> -->
  <ion-button (click)="salir()" class="boton_inicio" >Cerrar sesion </ion-button> 
  <h1>bienvenido</h1>
  <ion-avatar>
    <img class="perfil" alt="Silhouette of a person's head" src="assets/icon/hasbulla.jpg" />
  </ion-avatar>  
  <br>
  <div>
      <h2>Bienvenido {{nombre}} </h2>
      <h2>{{apellidos}}</h2>
      <h4>Correo{{email}}</h4>
  </div>
  <ion-item>
    <ion-button routerLink="/lista" >crud</ion-button>
  </ion-item>
</ion-content>