<ion-header>
  <ion-toolbar>
    <ion-title>Perfil de Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="salir()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <p>Cargando datos del usuario...</p>
    <ion-avatar>
      <img class="perfil" alt="Silhouette of a person's head" src="assets/icon/hasbulla.jpg" />
    </ion-avatar>
  </div>
  <div *ngIf="usuario">
    <h2>Hola, {{ usuario.nombre }}!</h2>
    <p>Apellidos: {{ usuario.apellidos }}</p>
    <p>Email: {{ usuario.email }}</p>
  </div>
  <ion-item>
  <ion-button (click)="modificarUsuario()" color="primary">Modificar</ion-button>
  <ion-button routerLink="/crud-lista"> modificar2 </ion-button>
  </ion-item>
</ion-content>
    
